




table {
    border-collapse:collapse;
    border: 2px solid grey;
        
}

table th{
    background-color:lightsteelblue;
    border: 2px solid grey;
    padding: 4px;
    font-family: monospace;
    font-weight: 500px; 
    
}

table td {
    background-color: lightgrey;
    border: 1px solid grey;
    padding: 2px;
    font-family: monospace;
    text-align: center;     

}

a:link { color: steelblue;
    font-weight: bold;
}



